body{
    margin: 0px;
    padding: 0px;
}
.nev-color{
    background: brown;
border-radius: 50px;
}
.main{
    border-radius: 10px;
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;
}
.bt-red
{
    /* width: 50%; */
    border: 2px solid maroon;
    border-radius: 8px;
    color:white;
    font-size: 18px;
    letter-spacing: 1px;
    height: auto;
    margin: auto;
    padding: 8px;
    background-color:maroon;
}